* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	font-family: 'Roboto Slab', serif;
}table{
    width: 50%;
}table tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}.tabla1{
    position: relative;
    top: -370px;
    left: 600px;
}.tabla3{
    position: relative;
    top: -200px;
    left: 0px;
}.tabla4{
    position: relative;
    top: -565px;
    left: 600px;
}.receso{
    background: yellow;
}.semana{
    background: rgb(0, 255, 0);
}.titulos{
    font-size: 50px;
    position: relative;
    left: 80px;
	top: -50px;
	text-align: center;
	background: darkblue;
	color: white;
	height: 70px;
	padding: 0px;
}