.dashboard-sideBar,
.dashboard-contentPage{
	position: absolute;
	top: 0;
	height: 100%;
	transition: all .3s ease-in-out;
}
/*sideBar*/
.dashboard-sideBar,
.dashboard-sideBar-ct{
	width: 270px;
}
.dashboard-sideBar{
	left: 0;
	z-index: 2;
	background-image: url('../assets/img/sideBar-font.jpg');
	border-right: 1px solid rgba(255, 255, 255, .4);
	overflow: hidden;
}
.dashboard-sideBar-ct{
	position: relative;
	height: 100%;
	background-color: rgba(0, 0, 0, .77);
	padding: 0 10px;
	padding-bottom: 30px;
}
.dashboard-sideBar-title,
.dashboard-sideBar-title > i{
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
}
.dashboard-sideBar-title{
	position: relative;
}
.dashboard-sideBar-title > i{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 40px;
}
.dashboard-sideBar-UserInfo{
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	color: #fff;
	font-size: 14px;
	padding: 20px 0;
}
.dashboard-sideBar-UserInfo figure img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}
.dashboard-sideBar-UserInfo ul{
	margin-top: 15px;
}
.dashboard-sideBar-UserInfo ul > li,
.dashboard-sideBar-UserInfo ul > li > a{
	display: inline-block;
	color: #fff;
}
.dashboard-sideBar-UserInfo ul > li > a{
	outline: none;
	font-size: 20px;
	padding: 7px;
	transition: all .3s ease-in-out;
}
.dashboard-sideBar-UserInfo ul > li > a:hover{
	color: #FF5722;
}
.dashboard-sideBar-Menu{
	padding-top: 15px;
}
.dashboard-sideBar-Menu > li,
.dashboard-sideBar-Menu > li > a,
.dashboard-sideBar-Menu > li > ul > li,
.dashboard-sideBar-Menu > li > ul > li > a{
	line-height: 50px;
	font-family: "RobotoCondensedLight";
	display: block;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	transition: all .3s ease-in-out;
	position: relative;
}
.dashboard-sideBar-Menu > li > a > i.zmdi-caret-down{
	line-height: 50px;
	transition: all .3s ease-in-out; 
}
.dashboard-sideBar-Menu > li > a{
	padding: 0 15px;
	box-sizing: border-box;
	height: 50px;
	outline: none;
}
.dashboard-sideBar-Menu > li > a:hover{
	background-color: rgba(255, 255, 255, .1);
}
.dashboard-sideBar-Menu > li > ul{
	position: relative;
	padding-top: 7px;
	height: 0;
	overflow: hidden;
}
.show-sideBar-SubMenu{
	height: auto !important;
	overflow: auto !important;
}
.dashboard-sideBar-Menu > li > ul > li,
.dashboard-sideBar-Menu > li > ul > li > a{
	height: 40px;
	line-height: 40px;
	border-radius: 0;
}
.dashboard-sideBar-Menu > li > ul > li{
	padding-left: 27px;
}
.dashboard-sideBar-Menu > li > ul > li > a{
	border-left: 3px solid transparent;
	outline: none;
}
.dashboard-sideBar-Menu > li > ul > li > a:hover{
	border-left: 3px solid #FF5722;
	color: #FF5722;
}
/*contentPage*/
.dashboard-contentPage{
	right: 0;
	z-index: 1;
	padding-left: 270px;
}
.dashboard-Navbar,
.dashboard-Navbar > ul,
.dashboard-Navbar > ul >li,
.dashboard-Navbar > ul > li > a{
	height: 50px;
	line-height: 50px;
}
.dashboard-Navbar > ul > li > a{
	outline: none;
}
.dashboard-Navbar{
	background-color: #000;
	overflow: hidden;
}
.dashboard-Navbar > ul >li,
.dashboard-Navbar > ul > li > a{
	display: inline-block;
	width: 50px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 20px;
	transition: all .3s ease-in-out;
	position: relative;
}
.dashboard-Navbar > ul > li > a:hover{
	background-color: rgba(255, 255, 255, .1);
	color: #FF5722;
}
.dashboard-Navbar > ul > li > a > span.badge{
	position: absolute;
	top: 7px;
	right: 6px;
	background-color: #FF5722;
	transition: all .3s ease-in-out;
}
.dashboard-Navbar > ul > li > a:hover span.badge{
	background-color: #FFF;
	color: #333;
}